@import './mixins';

.popup{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid black;
    padding: 4rem;
    -webkit-box-shadow: -5px -5px 10px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: -5px -5px 10px 1px rgba(0,0,0,0.5);
    box-shadow: -5px -5px 10px 1px rgba(0,0,0,0.5);

        & h2{
            margin-bottom: 2rem;
        }

        & div{
           width: 50%;
           @include display-flex(row, space-between, center);
            & button{
                width: 40%;
            }
        }

}